<div class="navbar-inner">
	<div class="container">
	
		<a class="btn btn-navbar navbar-btn" data-toggle="collapse" data-target=".nav-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		</a>
		
		<a id='toolname' class="brand" href="?"></a>
		
		
		<ul id="toolbar-right" class="nav pull-right">
			<li><a href='/magnustools'>Tools</a></li>
<!--			<li><a href='//toolserver.org/~magnus'>Olde tools</a></li>-->
			<li><a href="//bitbucket.org/magnusmanske">Git</a></li>
			<li><a id='discuss_link'>Discuss</a></li>
			<li><a style='margin:0px;padding:0px;margin-top:4px' href="/"><img src='//upload.wikimedia.org/wikipedia/commons/thumb/6/60/Wikimedia_labs_logo.svg/32px-Wikimedia_labs_logo.svg.png' title='Powered by Wikimedia Labs' border=0 width='32px' /></a></li>
		</ul>
		
	</div>
</div>
